.wrapper{
  width: 75%;
  margin: auto;
}
body {
  background-image: url("images/italyBackground.jpg");
  background-size: cover;
}
h1 {
  text-align: center;
  color: #735461;
  font-size: 51px;
  font-family: cursive;
  font-weight: bold;
  border: #212529;
  border-style: solid;
  background-color: aliceblue;
}
.button {
text-align: center;
background-color: #735461;
border: none;
color: white;
padding: 15px 32px;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.button-design {
text-align:center;
}
.footer-design {
width: 100%;
background-color: #212529;
color: white;
text-align: center;
height: 10%;
margin-bottom: -100px;
}
.parastyle {
border-style: solid;
  padding: 20px;
  border-color: #08090b;
  background-color: #735461;
  border-radius: 20px 20px;
  font-size: larger;
  font-style: italic;
  width: 57%;
  margin: auto;
}
.video-area {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.audio-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#myVideo{
  width: 55%;
  position: relative;
}